* {
    font-family: sans-serif;
}

.group {
    display: inline-block;

    margin: 8px;
    flex-direction: column;
    align-items: center;
}

.group button {
    background-color: lightgray;
    color: white;
    border: none;
    padding: 5px;
    margin: 8px;
    font-size: 16px;
    height: 60px;
    width: 120px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.group button:active {
    background-color: grey;
    box-shadow: 0 0 1px darkslategray;
    transform: translateY(2px);
}

.group button:not(:first-child) {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15%;
}

.roundish {
    border-radius: 15%;
}

.input {
    width: 30%;
    padding: 6px 8px;
    margin: 10px 6px 15px 20px;
    color: grey;
    border-color: lightgray;
    background-color: rgb(232, 232, 232);
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 7px;
}
